.login{
    
    .header{
        text-align: center;
        padding-top: 1.066667rem;
        img{
            
            height: .64rem;
        }
        p{
            font-size: .48rem;
            margin: .533333rem 0;
        }
    }
}